<div class='o-vesc-settings'>
  <h2>VESC Settingss</h2>
  <div class='a-wrong-settings' *ngIf='!(configurationValid$ | async)'>
    <h3>Configuration Problem</h3>
    We've detected that your VESC is not properly configured to make use of the Boosted ReVOLT! Dashboard.
  </div>
  <div class='u-columns'>
    <p>
      Would you like us to automatically configure your VESC for the use of the ReVOLT! Dashboard?
    </p>
    <button class='a-button' (click)='configure()'>Configure Automatically</button>
  </div>
  <p>
    Hi there
    {{ json}}
  </p>
</div>
