<div class='o-dashboard-settings'>
  <div class='m-vesc-not-connected'>
  </div>
  <div class='m-connect'>
    <!--
    <div class='a-no-vesc' *ngIf="!(isConnected$ | async)">
      <h2>VESC Disconnected</h2>
      <p>
        In order to find your dashboard, please connect to your VESC first.
      </p>
      <button class='a-button' (click)='connect()'>Connect To VESC</button>
    </div>
    -->
    <!--
    <div class='a-looking-for-dash' *ngIf='(isConnected$ | async)'>
      <img src='assets/images/dashboard.svg' alt='Dashboard'/>
      <app-spinner>
        Searching for your dash
      </app-spinner>
      <p>
        Make sure your dashboard is switched on and wired correctly to the CAN bus
        of the VESC. We will attempt to automatically find your dashboard on your scooter.
      </p>
    </div>
    -->

    <div class='m-settings-wrapper'>
      <h2>Metric System</h2>
      <div class='u-columns'>
        <p>
          Which speed indication would you like to use?
        </p>
        <div class='u-button-bar'>
          <button class='a-button' [class.active]='(metricSystem$ | async) === "mph"' (click)='setMilesPerHour()'>Mph
          </button>
          <button class='a-button' [class.active]='(metricSystem$ | async) === "kmh"' (click)='setKilometersPerHour()'>
            Kmh
          </button>
        </div>
      </div>
      <h2>Battery Configuration</h2>
      <div class='u-columns'>
        <p>
          Which battery configuration are you using?
        </p>
        <div class='u-button-bar is-small'>
          <button class='a-button' *ngFor='let b of batteryConfigurations'
                  [class.active]='(activeConfiguration$ | async) === b' (click)='setConfiguration(b)'>{{b}}S
          </button>
        </div>
      </div>
      <h2>Software Updates</h2>
      <div>
        <button class='a-button' (click)='checkFirmwareVersion()'>Check FW</button>
      </div>
    </div>
  </div>
</div>
