@use "../../../../assets/styles/variables";
@use "sass:math";

.o-dashboard-settings {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.m-connect {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .a-no-vesc {
    display: flex;
    flex-direction: column;
  }

  .a-looking-for-dash {
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
      max-width: 100px;
    }
  }

  .m-settings-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: math.div(variables.$sidebar-item-height, 4) variables.$spacer-xxl variables.$spacer-xxl;
    width: 100%;
  }
}
