<div class="o-connect">
  <div class="m-connect-wrapper">
    <h1>Connect to your VESC</h1>
    <img src="assets/images/dashboard.svg" alt="Logo"/>
    <app-spinner>Connecting...</app-spinner>
    <p>
      Please make sure your VESC is switched on and connected through USB to this device.
      The ReVOLT! dashboard should be switched on and connected through the CAN bus to the VESC.
    </p>
  </div>

</div>
<app-modal [visible]='!!(connectionError$ | async)'>
  <span modal-title>Could not connect</span>
  <p>
    We couldn't find your VESC Motor Controller. Make sure your VESC is switched on and connected via USB to this device.
  </p>
  <div cta>
    <button class='a-button' (click)='retry()'>Retry</button>
  </div>
</app-modal>
