<div class="o-connect">
  <div class="m-connect-wrapper">
    <h1>Connect to your VESC</h1>
    <p>
      Choose how you want to connect to your VESC
    </p>
    <div class='m-connect-options'>
      <button class='a-button' (click)='connectViaUSB()'>
        USB
        <img src='assets/images/usb.svg' alt='USB'/>
      </button>
      <button class='a-button' (click)='connectViaBLE()' *ngIf='!isWindows()'>
        Bluetooth
        <img src='assets/images/ble.svg' alt='Bluetooth'/>
      </button>
    </div>
    <div class='m-loader' [class.is-visible]='isConnecting$ | async'>
      <app-spinner>Connecting...</app-spinner>
    </div>
    <p class='u-light'>
      Please make sure your VESC is switched on and connected through cabled USB connection
      if you want to connect via USB to this device.
      The ReVOLT! dashboard should be switched on and connected through the CAN bus to the VESC.
    </p>
  </div>

</div>
<app-modal [visible]='!!(connectionError$ | async)'>
  <span modal-title>Could not connect</span>
  <p>
    We couldn't find your VESC Motor Controller. Make sure your VESC is switched on and connected via USB to this device.
  </p>
  <div cta>
    <button class='a-button' (click)='retry()'>Retry</button>
  </div>
</app-modal>
