@use "../../../assets/styles/variables";

:host-context {
  background: red;
  display: flex;
  position: fixed;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: variables.$brand-primary; /* fallback for old browsers */
  background: linear-gradient(to bottom, variables.$brand-primary, darken(variables.$brand-primary, 5%));
  background-size: cover;
  text-align: center;
}

.m-connect-wrapper {
  background: #eee;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px 1px #333;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 600px;

  .m-slides-wrapper {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .o-slide {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: absolute;
    transition: all 500ms ease;
    left: 0;
    top: 0;
    padding: 20px;

    &:first-of-type {
      transform: translateY(-100%);

      &.is-active {
        transform: translateY(0);
      }
    }

    &:nth-of-type(2) {
      transform: translateY(100%);

      &.is-active {
        transform: translateY(0%);
      }
    }
  }

  .m-devices {
    border: 1px solid #ddd;
    border-radius: variables.$spacer;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: variables.$spacer-md;
      text-align: left;
      border-bottom: 1px solid #ddd;
      transition: background 250ms;

      &:hover {
        background: #ddd;
        cursor: pointer;
      }

      span {
        display: block;

        &.a-device-name {
          font-family: variables.$font-title;
        }

        &.a-device-id {
          font-size: variables.$font-small;
          color: #333;
        }
      }
    }
  }

  .m-cta {
    display: inline-block;
    margin-top: variables.$spacer;
  }

  img {
    max-width: 100px;
  }

  .m-connect-options {
    display: flex;
    justify-content: center;

    button {
      height: 150px;
      width: 150px;
      margin: variables.$spacer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: variables.$spacer;
      font-size: variables.$font-large;
      transition-duration: 150ms;

      &:hover {
        box-shadow: 0 0 10px 3px #222;
      }

      img {
        margin-top: variables.$spacer;
        height: variables.$icon-size;
        width: auto;
      }
    }
  }

  .m-loader {
    max-height: 0;
    overflow: hidden;
    transition: all 250ms ease;

    app-spinner {
      margin: variables.$spacer-xxl;
    }

    &.is-visible {
      max-height: 300px;
    }
  }


  p.a-note {
    color: #333;
    font-size: variables.$font-small;
    padding: variables.$spacer;
  }
}
