<div class='o-connect'>
  <div class='m-connect-wrapper'>
    <div class='m-slides-wrapper'>
      <div class='o-slide' [class.is-active]='!(connectingViaBLE$ | async)'>
        <h1>Connect to your VESC</h1>
        <p>
          Choose how you want to connect to your VESC
        </p>
        <div class='m-connect-options'>
          <button class='a-button' (click)='connectViaUSB()'>
            USB
            <img src='assets/images/usb.svg' alt='USB' />
          </button>
          <button class='a-button' (click)='startScanning()'>
            Bluetooth
            <img src='assets/images/ble.svg' alt='Bluetooth' />
          </button>
        </div>
        <div class='m-loader' [class.is-visible]='isConnecting$ | async'>
          <app-spinner>Connecting...</app-spinner>
        </div>
      </div>
      <div class='o-slide' [class.is-active]='connectingViaBLE$ | async'>
        <h2>Connect via Bluetooth</h2>
        <p>
          Please select your VESC device listed hereunder. Make sure your VESC is switched on.
        </p>
        <div class='m-devices'>
          <ul>
            <li *ngFor='let device of (foundBLEDevices$ | async)' (click)='connectViaBLE(device)'>
              <span class='a-device-name'>{{ device.name }}</span>
              <span class='a-device-id'>{{ device.id }}</span>
            </li>
          </ul>
          <app-spinner>
            <span *ngIf='(isScanning$ | async)'>Searching for devices...</span>
            <span *ngIf='(isConnecting$ | async)'>Connecting...</span>
          </app-spinner>
        </div>
        <div class='m-cta'>
          <button class='a-button' (click)='goBack()'>Go Back</button>
        </div>
      </div>
    </div>
    <p class='a-note'>
      Please make sure your VESC is switched on.
      The ReVOLT! dashboard should be switched on and connected through the CAN bus to the VESC.
    </p>
  </div>
</div>
<app-modal [visible]='!!(connectionError$ | async)'>
  <span modal-title>Could not connect</span>
  <p>
    We couldn't find your VESC Motor Controller. Make sure your VESC is switched on and connected via USB to this
    device or discoverable via Bluetooth.
  </p>
  <div cta>
    <button class='a-button' (click)='retry()'>Retry</button>
  </div>
</app-modal>
<app-modal [visible]='windowsWarning$ | async' (closed)='windowsWarning$.next(false)'>
  <span modal-title>You are on Windows</span>
  <p>
    Connecting via Bluetooth on Windows has known issues and caveats due to the poor
    Bluetooth stack support on Windows.
    An USB connection is preferred.
    If you would like to proceed to Bluetooth connectivity, you might need a Bluetooth 4.0 dongle.
  </p>
  <div cta>
    <button class='a-button' (click)='proceed()'>I Understand</button>
  </div>
</app-modal>
