@use "../../../../assets/styles/variables";


.o-home {
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.o-main-screen {
  display: flex;
  flex: 1;
}

.m-sidebar {
  width: 300px;
  background: darken(#fff, 3%);
  position: relative;
  border-right: 1px solid #ddd;


  ul {
    margin: 0;
    padding: 0;

    li {
      padding-left: variables.$spacer-xl;
      height: variables.$sidebar-item-height;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: variables.$font-title;
      border-bottom: 1px solid #ddd;
      border-left: 5px solid transparent;

      img {
        max-height: 2em;
        margin-right: variables.$spacer;
      }

      span {
        flex: 1;
      }


      &.active {
        border-left-color: variables.$brand-primary;
        background: white;
        position: relative;
        width: 301px;
        border-bottom: none;
        box-shadow: -5px 2px 5px 1px #ccc;

        & + li {
          border-top: 1px solid #ddd;
        }
      }

      &.inactive {
        color: #aaa;
      }
    }
  }

  app-status-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  app-dashboard-settings {
    flex: 1;
  }

  .a-copyright {
    text-align: center;
    width: 100%;
    padding: variables.$spacer;
    font-size: 8pt;
    color: #333;
  }
}
