<div class='o-home'>
  <!--- <app-menu-bar></app-menu-bar>-->
  <div class='o-main-screen'>
    <div class='m-sidebar'>
      <nav>
        <ul>
          <li [class.active]='(tab$ | async) === "vesc"' (click)='tab$.next("vesc")'>
            <span>
              VESC
              <BR/>
              Electronics Speed Controller
            </span>
          </li>
          <li [class.active]='(tab$ | async) === "dashboard"' (click)='tab$.next("dashboard")'>
            <span>
               ReVOLT! Dashboard
            <br />
            1st generation
            </span>
          </li>
          <li disabled>
            ReVOLT! BMS
            <br/>
            Under Development
          </li>
        </ul>
      </nav>
      <app-status-bar></app-status-bar>
    </div>
    <main>
      <app-loading></app-loading>
      <app-dashboard-settings *ngIf='(tab$ | async) === "dashboard"'></app-dashboard-settings>
      <span class='a-copyright'>
        &copy; 2021 Michael Castiau
      </span>
    </main>
  </div>
</div>

<app-modal [visible]='!!(errorConnecting$ | async)'>
  <span modal-title>Connection Failed</span>
  <p>
    We attempted to connect to your VESC but couldn't find it.
    Please make sure your VESC is switched on and connected through USB to this device.
  </p>
  <div cta>
    <button (click)='retry()' class='a-button'>Retry Connecting</button>
  </div>
</app-modal>
