@use "variables";

a.a-button {
  text-decoration: none;
}
.a-button {
  color: white;
  background: variables.$brand-primary;
  font-family: variables.$font-title;
  border: none;
  text-transform: uppercase;
  min-width: variables.$button-min-width;
  height: variables.$spacer * 2;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
  text-decoration: none;
  font-size: 0.9em;
  padding: variables.$spacer-xs;

  &:hover {
    cursor: pointer;
  }
  &:active {
    outline: none;
    background: darken(variables.$brand-primary, 15%);
  }

  &.light {
    background: #eee;
    color: #333;
  }
}
