@use "sass:math";

$brand-primary: #e43a15;
$font-title: 'Open Sans', sans-serif;
$font-small: 9pt;


$spacer: 15px;
$spacer-sm: math.div($spacer, 1.2);
$spacer-xs: math.div($spacer, 2);
$spacer-xl: $spacer*2;
$spacer-xxl: $spacer* 3;

$sidebar-item-height: $spacer * 4;

$layer-behind-top: 90;
$layer-top: 100;

$button-min-width: 150px;
$menu-bar-height: 30px;
