/* You can add global styles to this file, and also import other style files */
@use "assets/styles/variables";
@import "assets/styles/button.scss";
@import "assets/styles/fonts.scss";
@import "~ngx-toastr/toastr.css";

.toast-container .ngx-toastr {
  border-radius: 2px;
}
.toast-error {
  background: variables.$red;
}
.toast-success {
  background: variables.$green;
}
.toast-title{
  margin-bottom: variables.$spacer-sm;
  display: block;
  font-family: variables.$font-title;
}

html, body {
  margin: 0 auto;
  font-family: variables.$font-default;
  font-size: 11pt;
  height: 100%;
}

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

.u-columns {
  display: flex;
  width: 100%;

  p, h2 {
    flex: 1;
    display: block;
    margin-right: variables.$spacer;
  }
}

.u-button-bar {
  display: flex;
  flex-wrap: wrap;
  margin: variables.$spacer 0 variables.$spacer variables.$spacer;

  button {
    margin: 0;
    border: 1px solid variables.$brand-primary;
    background: white;
    color: variables.$brand-primary;

    &:not(:last-of-type) {
      border-right: none;
    }

    &.active {
      color: white;
      background: variables.$brand-primary;

    }

    &:active {
      background: variables.$brand-primary;
      color: white;
    }
  }

  &.is-small button {
    min-width: 2em;
  }
}
.u-light {
  color: #aaa;
}
.u-small {
  font-size: 0.8em;
}
.u-margin-top {
  margin-top: variables.$spacer;
}
